@use '@angular/material' as mat;

// Step 1: Define your full custom palette
$my-primary: mat.define-palette((
  100: #1a232d,
  500: #0e1923,
  700: #080f15,
  contrast: (
    100: #ffffff,
    500: #ffffff,
    700: #ffffff
  )
));

$my-accent: mat.define-palette(mat.$gray-palette, 600);

// Step 2: Create and apply the theme
$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
  )
));

@include mat.all-component-themes($my-theme);
